<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <script src="/JS/MyTest.js" async></script>
</head>
<body>
<form id="testForm">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" id="name" name="userName">
        </li>
        <li>
            <label for="password">Password:</label>
            <input type="password" id="password" name="userPassword">
        </li>
        <li class="button">
            <button type="submit">login</button>
        </li>
    </ul>
</form>
</body>
</html>