<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
<form id="register" name="register">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </li>
        <li>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
        </li>
        <li class="button">
            <button type="submit">Register</button>
        </li>
    </ul>
</form>
<script type="text/javascript">
    $("#btn-reg").click(function() {
        console.log($("#form-reg").serialize());
        $.ajax({
            url: "/users/reg",
            type: "POST",
            data: $("#form-reg").serialize(),
            dataType: "json",
            success: function(json) {
                if (json.state == 200) {
                    alert("注册成功！");
                    // location.href = "login.html";
                } else {
                    alert("注册失败！" + json.message);
                }
            }
        });
    });
</script>

</body>
</html>